.image img {
  height: 100%;
  width: 100%;
}
.title-2 {
  font-size: 56px;
  color: #555;
}
.subtitle-2 {
  padding: 20px 0;
  font-size: 1.3rem;
  color: #888;
  line-height: 1.2;
}
.button.is-primary {
  background-color: #517AA5;
  border-color: transparent;
  color: #fff;
  font-weight: bold;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 1.3rem;
}
.button.is-primary.is-active, .button.is-primary:active {
  background-color: #517AA5;
  border-color: transparent;
  color: #fff;
}

.button.is-primary.is-hovered, .button.is-primary:hover {
  background-color: #517AA5;
  border-color: transparent;
  color: #fff;
}
.button.is-primary:focus:not(:active) {
  box-shadow: none;
}


/* blog */
.blog , .offer{
  padding: 50px 200px;
}

.blog .card-col {
  margin-top: 20px;
}

.tabs a {
  width: 180px;
  height: 48px;
  padding: 0;
  margin: 0;
}
.tabs.is-toggle li.is-active a {
  background-color: #525966;
  border-color: #525966;
}

.card {
  box-shadow: none;
}
.card-content {
  padding: 1.5rem 0;
}
.card .content-title {
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 15px;
}
.card .content {
  font-size: 1rem;
  color: #666;
  margin-bottom: 10px;
}
.card .time {
  color: #999;
  font-size: 12px;
}

/* gallery */
.gallery {
  background-color: #E8ECEF;
  padding: 100px 150px;
}
.gallery .column {
  height: 300px;
}
.gallery .image {
  width: 100%;
  height: 100%;
}
.gallery-card {
  width: 100%;
  height: 100%;
  padding: 0 30px;
}
.gallery-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}
.gallery-card-title {
  margin-bottom: 20px;
}
.gallery-card-content {
  font-size: 12px;
}
.gallery-card-more {
  margin-top: 10px;
  font-size: 12px;
}
.gallery-color-1 {
  background-color: #525966;
}
.gallery-color-2 {
  background-color: #bec6d0;
}
.gallery-color-3 {
  background-color: #517aa5;
}
.gallery-color-4 {
  background-color: #fff;
  color: #333;
}
.gallery .title {
  color: #fff;
}
/* about */
.about {
  background-color: #E8ECEF;
  padding: 50px 200px;
}
.about .title {
  color: #333;
}
.about .columns {
  margin-top: 50px;
  margin-bottom: 20px;
} 
.about .column {
  height: 300px;
  margin-left: 10px;
} 
.about .image {
  width: 100%;
  height: 100%;
}
.about-content {
  padding: 6px;
}
.about p {
  margin-bottom: 10px;
}

/* subscribe */
.subscribe {
  background-color: #eef2f5;
  padding: 50px 200px;
}
.form-flex {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 50px;
}


/* footer */
.footer {
  background-color: #515966;
  color: #fff;
  padding: 4rem;
}
.footer-nav {
  padding: 25px 0;
}
.footer a {
  color: #fff;
}
.footer .nav-item {
  padding: 10px;
  font-weight: bold;
}
.footer .image {
  margin: 0 20px;
}
